<!DOCTYPE>
<html>
<head>
<title>][instname][</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewpor​t" content="width-device-width,initial-scale=1, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="../js/common.js"></script>
       <script>
        $(function() {
            $('html').keydown(function(e) {
                var key = e.which;
                switch(key) {
                    case 37:
                        goPrevPage(][currpage][,][totalpage][);
                        break;
                    case 39:
                        goNextPage(][currpage][,][totalpage][);
                        break;
                }
            });
        });

        var src1 = '', src2 = '', src3 = '';
        var countCorrect = 0;
        var answer1 = '', answer2 = '', answer3 = '';
        var flag1 = true, flag2 = true, flag3 = true;

        function checkAnswer1()
        {
            if ( src1 != '' || flag1 == false )
                return;

            if ( answer1 == '' )
            {
                alert("답을 선택하세요.");
                return;
            }

            if ( '][8answer1][' == answer1 )
            {
                countCorrect++;
                src1 = '../img/o_o.png';

                $('#ox1 .p8_ok img').attr('src','../img/ok2.png');
            }
            else
            {
                src1 = '../img/x_o.png';

                $('#ox1 .p8_ok img').attr('src','../img/no.png');
            }

            flag1 = false;
            $('#ox1 .p8_ans').css('display','block');
            $('#ox1 .p8_a_t').css('display','inline-block');
        }

        function checkAnswer2()
        {
            if ( src2 != '' || flag2 == false)
                return;

            if ( answer2 == '' )
            {
                alert("답을 선택하세요.");
                return;
            }

            if ( '][8answer2][' == answer2 )
            {
                countCorrect++;
                src2 = '../img/o_o.png';

                $('#ox2 .p8_ok img').attr('src','../img/ok2.png');
            }
            else
            {
                src2 = '../img/x_o.png';

                $('#ox2 .p8_ok img').attr('src','../img/no.png');
            }

            flag2 = false;
            $('#ox2 .p8_ans').css('display','block');
            $('#ox2 .p8_a_t').css('display','inline-block');
        }


        function checkAnswer3()
        {
            if ( src3 != '' || flag3 == false)
                return;

            if ( answer3 == '' )
            {
                alert("답을 선택하세요.");
                return;
            }

            if ( '][8answer3][' == answer3 )
            {
                countCorrect++;
                src3 = '../img/o_o.png';

                $('#ox3 .p8_ok img').attr('src','../img/ok2.png');
            }
            else
            {
                src3 = '../img/x_o.png';

                $('#ox3 .p8_ok img').attr('src','../img/no.png');
            }

            flag3 = false;
            $('#ox3 .p8_ans').css('display','block');
            $('#ox3 .p8_a_t').css('display','inline-block');
        }

        function nextProblem(curr, next)
        {
            if ( next == 4 )
            {
                $('#p8').css('background','url("../img/1_bg12_4.jpg") no-repeat');
                $('#p8').css('width','1000px');

                $('#check1').attr('src', src1);
                $('#check2').attr('src', src2);
                $('#check3').attr('src', src3);
                $('#ok-num').html(countCorrect.toString());

                $('#ox' + curr.toString()).css('display','none');
                $('#p12_prob_4').css('display','block');

                $('.f_next').css('display','block');
                changeReadyState();
            }
            else
            {
                $('#ox' + curr.toString()).css('display','none');
                $('#ox' + next.toString()).css('display','block');
            }
        }

        $(document).ready(function() {
            var imgSrc = '';

            $('#ox1 .o_img').mouseover(function() {
                imgSrc = $('#ox1 .o_img').attr('src');

                $('#ox1 .o_img').attr('src', '../img/o_o.png');
            });
            $('#ox1 .o_img').mouseleave(function() {
                if ( answer1 == 'o' )
                    return;

                $('#ox1 .o_img').attr('src', imgSrc);
            });
            $('#ox1 .x_img').mouseover(function() {
                imgSrc = $('#ox1 .x_img').attr('src');

                $('#ox1 .x_img').attr('src', '../img/x_o.png');
            });
            $('#ox1 .x_img').mouseleave(function() {
                if ( answer1 == 'x' )
                    return;

                $('#ox1 .x_img').attr('src', imgSrc);
            });

            $('#ox2 .o_img').mouseover(function() {
                imgSrc = $('#ox2 .o_img').attr('src');

                $('#ox2 .o_img').attr('src', '../img/o_o.png');
            });
            $('#ox2 .o_img').mouseleave(function() {
                if ( answer2 == 'o' )
                    return;

                $('#ox2 .o_img').attr('src', imgSrc);
            });
            $('#ox2 .x_img').mouseover(function() {
                imgSrc = $('#ox2 .x_img').attr('src');

                $('#ox2 .x_img').attr('src', '../img/x_o.png');
            });
            $('#ox2 .x_img').mouseleave(function() {
                if ( answer2 == 'x' )
                    return;

                $('#ox2 .x_img').attr('src', imgSrc);
            });

            $('#ox3 .o_img').mouseover(function() {
                imgSrc = $('#ox3 .o_img').attr('src');

                $('#ox3 .o_img').attr('src', '../img/o_o.png');
            });
            $('#ox3 .o_img').mouseleave(function() {
                if ( answer3 == 'o' )
                    return;

                $('#ox3 .o_img').attr('src', imgSrc);
            });
            $('#ox3 .x_img').mouseover(function() {
                imgSrc = $('#ox3 .x_img').attr('src');

                $('#ox3 .x_img').attr('src', '../img/x_o.png');
            });
            $('#ox3 .x_img').mouseleave(function() {
                if ( answer3 == 'x' )
                    return;

                $('#ox3 .x_img').attr('src', imgSrc);
            });
        });
    </script>

</head>
<body id="p8">
<audio type="audio/mp3" src="../sound/ox quiz.mp3" autoplay preload="auto"></audio>
<!-- gnb -->
<div class="menu1">
	<ul>
		<li>
			<a href="#" class="menu_btn">=== MENU ===</a>
			<ul>
				<li>
					<dl>
						<dt>오리엔테이션</dt>
                        <dd><a href="01.html">- OT시작</a></dd>
						<dd><a href="02.html">- 교수소개</a></dd>
						<dd><a href="03.html">- 과목소개</a></dd>
						<dd><a href="04.html">- 학습도우미</a></dd>
						<dd><a href="05.html">- OT마무리</a></dd>
					</dl>

				</li>
				<li>
					<dl>
						<dt>시작하기</dt>
						<dd><a href="06.html">- 인트로</a></dd>
						<dd><a href="07.html">- 학습목표&학습내용</a></dd>
						<dd><a href="08.html">- 사전학습</a></dd>
						<dd>&nbsp;</dd>
                        <dd>&nbsp;</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="09.html">학습하기</a></dt>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
                        <dd>&nbsp;</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>정리하기</dt>
						<dd><a href="10.html">- 요약정리</a></dd>
						<dd><a href="11.html">- 학습노트</a></dd>
						<dd><a href="12.html">- 형성평가</a></dd>
						<dd><a href="13.html">- 차시예고</a></dd>
                        <dd>&nbsp;</dd>
					</dl>
				</li>
			</ul>
		</li>
	</ul>
</div>
<!-- gnb end -->


<!-- top 차시명 & 강의명 -->
<div class="t_class">
	<div class="t_cass_t">◆ ][coursename][</div>

	<div class="t_th">
		<div class="th">][weeknum][주차 ][lecnum][차시</div>
		<div class="name"><pre style="margin-top:0;">][lecturename][</pre></div>
	</div>
	<div class="t_now"><span>시작하기 | </span>사전학습</div>
</div>


<!-- 내용 -->
<div id="ox1" class="p8_lay" style="display:block">
    <div class="p8_ok">
		<!-- 정답<img src="../img/ok2.png" alt="정답"> -->
		<!-- 오답<img src="../img/no.png" alt="오답">-->
        <img/>
	</div>

    <div class="p8_lay2">
        <!-- 문제 -->
        <div class="p8_q_num"><img src="../img/q_01.png"></div>
        <div class="p8_q_t">* 다음 문제를 읽고 정답을 선택해보세요.</div>
            <div class="p8_q"><pre>][8problem1][</pre></div>
        <div class="p8_ox"><img class="o_img" style="cursor:pointer;" onclick="if(flag1){$('#ox1 .o_img').attr('src','../img/o_o.png');$('#ox1 .x_img').attr('src','../img/x.png');answer1='o';}" src="../img/o.png"><img class="x_img left" style="cursor:pointer;" onclick="if(flag1){$('#ox1 .o_img').attr('src','../img/o.png');$('#ox1 .x_img').attr('src','../img/x_o.png');answer1='x';}" src="../img/x.png"></div>
        <div class="p8_re01" style="cursor:pointer;" onclick="checkAnswer1();"><a id="show-btn">정답확인</a></div>


        <!-- 정답 -->
        <div class="p8_ans" style="display:none;"><img src="../img/ok.png"></div>
        <div class="p8_a_t" style="display:none;">
            <ul>
                <li><img src="../img/][8answer1][_o.png"></li>
                            <li><pre>][8explanation1][</pre>
                    <div class="p8_green01" style="cursor:pointer;" onclick="nextProblem(1,2);"><a>다음문제 ▶</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="ox2" class="p8_lay" style="display:none">
    <div class="p8_ok">
		<!-- 정답<img src="../img/ok2.png" alt="정답"> -->
		<!-- 오답<img src="../img/no.png" alt="오답">-->
        <img/>
	</div>

    <div class="p8_lay2">
        <!-- 문제 -->
        <div class="p8_q_num"><img src="../img/q_02.png"></div>
        <div class="p8_q_t">* 다음 문제를 읽고 정답을 선택해보세요.</div>
            <div class="p8_q"><pre>][8problem2][</pre></div>
        <div class="p8_ox"><img class="o_img" style="cursor:pointer;" onclick="if(flag2){$('#ox2 .o_img').attr('src','../img/o_o.png');$('#ox2 .x_img').attr('src','../img/x.png');answer2='o';}" src="../img/o.png"><img class="x_img left" style="cursor:pointer;" onclick="if(flag2){$('#ox2 .o_img').attr('src','../img/o.png');$('#ox2 .x_img').attr('src','../img/x_o.png');answer2='x';}" src="../img/x.png"></div>
        <div class="p8_re01" style="cursor:pointer;" onclick="checkAnswer2();"><a id="show-btn">정답확인</a></div>


        <!-- 정답 -->
        <div class="p8_ans" style="display:none;"><img src="../img/ok.png"></div>
        <div class="p8_a_t" style="display:none;">
            <ul>
                <li><img src="../img/][8answer2][_o.png"></li>
                            <li><pre>][8explanation2][</pre>
                    <div class="p8_green01" style="cursor:pointer;" onclick="nextProblem(2,3);"><a>다음문제 ▶</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="ox3" class="p8_lay" style="display:none">
    <div class="p8_ok">
		<!-- 정답<img src="../img/ok2.png" alt="정답"> -->
		<!-- 오답<img src="../img/no.png" alt="오답">-->
        <img/>
	</div>

    <div class="p8_lay2">
        <!-- 문제 -->
        <div class="p8_q_num"><img src="../img/q_03.png"></div>
        <div class="p8_q_t">* 다음 문제를 읽고 정답을 선택해보세요.</div>
            <div class="p8_q"><pre>][8problem3][</pre></div>
        <div class="p8_ox"><img class="o_img" style="cursor:pointer;" onclick="if(flag3) {$('#ox3 .o_img').attr('src','../img/o_o.png');$('#ox3 .x_img').attr('src','../img/x.png');answer3='o';}" src="../img/o.png"><img class="x_img left" style="cursor:pointer;" onclick="if(flag3) {$('#ox3 .o_img').attr('src','../img/o.png');$('#ox3 .x_img').attr('src','../img/x_o.png');answer3='x';}" src="../img/x.png"></div>
        <div class="p8_re01" style="cursor:pointer;" onclick="checkAnswer3();"><a id="show-btn">정답확인</a></div>


        <!-- 정답 -->
        <div class="p8_ans" style="display:none;"><img src="../img/ok.png"></div>
        <div class="p8_a_t" style="display:none;">
            <ul>
                <li><img src="../img/][8answer3][_o.png"></li>
                            <li><pre>][8explanation3][</pre>
                    <div class="p8_green01" style="cursor:pointer;" onclick="nextProblem(3,4);"><a>결과보기 ▶</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div id="p12_prob_4" style="display:none;">
        <div class="p12_4_t">총 <span>3</span>문제 중 <span id="ok-num"></span>문제 맞히셨습니다.</div>
        <div class="p12_4_alay">
            <div class="p12_4_a">
                <img id="check1" src="../img/o_o.png">
                <span>Q1</span>
            </div>

            <div class="p12_4_a">
                <img id="check2" src="../img/x_o.png">
                <span>Q2</span>
            </div>

            <div class="p12_4_a">
                <img id="check3" src="../img/o_o.png">
                <span>Q3</span>
            </div>
        </div>
        <div class="p12_4_btn"><a href="08.html"><img src="../img/btn_replay.png"></a></div>
    </div>
<!-- 내용 end -->




<!-- footer -->
<div class="footer">
	<!-- logo -->
	<div class="f_logo"><img src="../img/logo.png" alt=""></div>

	<!-- 검색-->
	<div class="f_search"><input type="text" name="search" id="search" class="f_form" placeholder="검색"/><span class="f_s_btn"><a href="#"><img src="../img/search.gif"></a></span></div>

<!-- 보조도구 아이콘 -->
	<ul class="f_icon">
		<li class="f_icon1"><a href="../inc/running.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>러닝맵</span></a></li>
		<li class="f_icon2"><a href="../down/][lecturenumber][_note.zip" download><span>강의자료</span></a></li>
		<li class="f_icon3"><a href="../inc/teacher.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>교수소개</span></a></li>
		<li class="f_icon4"><a href="../inc/class.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>과목소개</span></a></li>
	</ul>

	<!-- 페이지 이동 -->
	<ul class="f_btn">
		<li><a onclick="goPrevPage(][currpage][,][totalpage][);" style="cursor:pointer;"><img src="../img/arrow_left.png"></a></li>
		<li><span>][currpage][</span> / ][totalpage][</li>
		<li><a onclick="goNextPage(][currpage][,][totalpage][);" style="cursor:pointer;"><img src="../img/arrow_right.png"></a></li>
	</ul>

	<!-- 다음 페이지 이동 버튼 -->
	<div class="f_next"><a><img src="../img/btn_next.png"></a></div>
</div>


</body>
</html>
