<!DOCTYPE>
<html>
<head>
<title>][instname][</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewpor​t" content="width-device-width,initial-scale=1, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
<!-- 내용 -->
<div id="p4" style="width:1000px;height:610px;margin:0 auto;position:absolute;top:50%;margin-top:-305px;left:50%;margin-left:-500px;">
<div class="p4_run">과목소개</div>
<div class="p3_t">* 교수님의 영상을 통하여 본 과목에 대한 내용을 확인해보세요.</div>
<div class="p3_avi">
    <video id="my-video" class="vjs-default-skin video-js" controls="controls" preload="auto" width="800px" height="450px" data-setup='{"playbackRates": [1, 1.5, 2]}'>
        <source src="][3video][" type="video/mp4">
    </video>
</div>
</div>
<!-- 내용 end -->



</body>
</html>