<!DOCTYPE>
<html>
<head>
<title>][instname][</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewpor​t" content="width-device-width,initial-scale=1, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>

<!-- 내용 -->
<!-- 전체 목차 -->
<div class="p4_run">러닝맵</div>
<div class="p4_tit">>> 본 과목은 총 ][weeks][주차로 구성되어 있습니다. 세부 목차를 자세히 살펴보시기 바랍니다.</div>
<div class="p4_tbl_l">
		<ul class="p4_tbl_lay">
			<li>
				<table class="p4_tbl">
					<colgroup>
						<col width="25%" />
						<col width="*" />
					</colgroup>
					<tr>
						<th>주차</th>
						<th>차시명</th>
					</tr>
                    ][lefttable][
				</table>
			</li>
			<li>
				<table class="p4_tbl">
					<colgroup>
						<col width="25%" />
						<col width="*" />
					</colgroup>
					<tr>
						<th>주차</th>
						<th>차시명</th>
					</tr>
                    ][righttable][
				</table>
			</li>
		</ul>
	</div>





<!-- 내용 end -->

</body>
</html>