<!DOCTYPE>
<html>
<head>
<title>][instname][</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewpor​t" content="width-device-width,initial-scale=1, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>


<!-- 내용 -->
<div id="p2" style="width:1000px;height:610px;margin:0 auto;position:absolute;top:50%;margin-top:-305px;left:50%;margin-left:-500px;">
<div class="p2_p_bg">
	][profname][<span>교수님</span>
	<div class="pro">PROFILE</div>
</div>

<div class="p2_lay">
	<ul>
		<li><img src="../img/sample1.gif" alt=""></li>
		<li>
		<!-- 학력 -->
			<ul>
				<li>학<br/>력</li>
				<li>
					<dl>
                        <pre>][studyhistory][</pre>
					</dl>
				</li>
			</ul>

		<!-- 경력 -->
			<ul>
				<li>경<br/>력</li>
				<li>
					<dl>
                        <pre>][history][</pre>
					</dl>
				</li>
			</ul>
		</li>
	</ul>
</div>
<!-- 내용 end -->
</div>


</body>
</html>