<!DOCTYPE>
<html>
<head>
<title>][instname][</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewpor​t" content="width-device-width,initial-scale=1, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="../js/common.js"></script>
       <script>
        $(function() {
            $('html').keydown(function(e) {
                var key = e.which;
                switch(key) {
                    case 37:
                        goPrevPage(][currpage][,][totalpage][);
                        break;
                    case 39:
                        goNextPage(][currpage][,][totalpage][);
                        break;
                }
            });

            var t = "][time][";
            t = t.split(':');

            setTimeout("$('.f_next').css('display','block'); changeReadyState();", (Number(t[0]) * 60 + Number(t[1])) * 1000);
        });

        function setCookie(name, day)
        {
            if ( $('#p11_t').val() == '' )
            {
                alert("내용을 입력하세요.");
                return;
            }

            var expire = new Date();
            expire.setDate(expire.getDate() + day);
            cookies = name + '=' + escape($('#p11_t').val()) + '; path=/';
            if ( typeof day != 'undefined' )
                cookies += ';expires=' + expire.toGMTString() + ';';
            document.cookie = cookies;

            alert("본 내용은 학습자의 PC에 저장되어있습니다. PC를 변경하거나 인터넷 옵션에서 쿠키를 삭제한 경우에는 저장한 내용을 불러올 수 없으니 학습에 참고하세요!!!");
        }

        function getCookie(name)
        {
            name = name + '=';
            var cookieData = document.cookie;
            var start = cookieData.indexOf(name);
            var value = '';
            if(start != -1)
            {
                start += name.length;
                var end = cookieData.indexOf(';', start);
                if(end == -1)
                    end = cookieData.length;
                value = cookieData.substring(start, end);
            }

            return unescape(value);
        }

        $(document).ready(function () {
            var str = getCookie('][coursename][-][weeknum][-][lecnum][');
            $('#p11_t').val(str.replace('<br>','\r\n'));
        });
    </script>

</head>
<body>
<div id="p11" style="width:1000px;height:610px;margin:0 auto;position:absolute;top:50%;margin-top:-305px;left:50%;margin-left:-500px;">
<audio type="audio/mp3" src="../sound/note.mp3" autoplay preload="auto"></audio>
<!-- gnb -->
<div class="menu2">
	<ul>
		<li>
			<a href="#" class="menu_btn">=== MENU ===</a>
			<ul>
				<li>
					<dl>
						<dt>시작하기</dt>
						<dd><a onclick="goPage('01');">- 인트로</a></dd>
						<dd><a onclick="goPage('02');">- 학습목표&학습내용</a></dd>
						<dd><a onclick="goPage('03');">- 사전학습</a></dd>
						<dd>&nbsp;</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a onclick="goPage('04');">학습하기</a></dt>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>정리하기</dt>
						<dd><a onclick="goPage('05');">- 요약정리</a></dd>
						<dd><a onclick="goPage('06');">- 학습노트</a></dd>
						<dd><a onclick="goPage('07');">- 형성평가</a></dd>
						<dd><a onclick="goPage('08');">- 차시예고</a></dd>
					</dl>
				</li>
			</ul>
		</li>
	</ul>
</div>
<!-- gnb end -->


<!-- top 차시명 & 강의명 -->
<div class="t_class">
	<div class="t_cass_t">◆ ][coursename][</div>

	<div class="t_th">
		<div class="th">][weeknum][주차 ][lecnum][차시</div>
		<div class="name"><pre style="margin-top:0;">][lecturename][</pre></div>
	</div>
	<div class="t_now"><span>정리하기 | </span>학습노트</div>
</div>


<!-- 내용 -->
<div class="p11_t">* 이번 시간에 학습한 내용에 대해 스스로 정리해 보세요.</div>
<textarea name="p11_t" id="p11_t" class="p11_text" placeholder="이곳에 의견을 입력하세요."></textarea>
<div class="p11_write" onclick="setCookie('][coursename][-][weeknum][-][lecnum][', 987654321);" style="cursor:pointer;"><a>저장하기</a></div>
<!-- 내용 end -->




<!-- footer -->
<div class="footer">
	<!-- logo -->
	<div class="f_logo"><img src="../img/logo.png" alt=""></div>

	<!-- 검색-->
	<div class="f_search"><input type="text" name="search" id="search" class="f_form" placeholder="검색"/><span class="f_s_btn"><a href="#"><img src="../img/search.gif"></a></span></div>

<!-- 보조도구 아이콘 -->
	<ul class="f_icon">
		<li class="f_icon1"><a href="../inc/running.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>러닝맵</span></a></li>
		<li class="f_icon2"><a href="../down/][lecturenumber][_note.zip" download><span>강의자료</span></a></li>
		<li class="f_icon3"><a href="../inc/teacher.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>교수소개</span></a></li>
		<li class="f_icon4"><a href="../inc/class.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>과목소개</span></a></li>
	</ul>

	<!-- 페이지 이동 -->
	<ul class="f_btn">
		<li><a onclick="goPrevPage(][currpage][,][totalpage][);" style="cursor:pointer;"><img src="../img/arrow_left.png"></a></li>
		<li><span>][currpage][</span> / ][totalpage][</li>
		<li><a onclick="goNextPage(][currpage][,][totalpage][);" style="cursor:pointer;"><img src="../img/arrow_right.png"></a></li>
	</ul>

	<!-- 다음 페이지 이동 버튼 -->
	<div class="f_next"><a><img src="../img/btn_next.png"></a></div>
</div>

</div>
</body>
</html>