<!DOCTYPE>
<html>
<head>
<title>][instname][</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewpor​t" content="width-device-width,initial-scale=1, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="../js/common.js"></script>
       <script>
        $(function() {
             //changeReadyState();

            if ( '][12example1][' == 'None' )
                $('#example1').css('display','none');
        });
    </script>

    <script type="text/javascript">
        var src1 = '', src2 = '', src3 = '';
        var countCorrect = 0;
        var answer1 = '', answer2 = '', answer3 = '';
        var count1 = 0, count2 = 0, count3 = 0;
        var flag1 = true, flag2 = true, flag3 = true;

        function nextBtn1() {
            if ( flag1 == false )
                return;

            if (answer1 == '')
            {
                alert("답을 선택하세요.");
                return;
            }

            var answers = '][12answernum1]['.split('/');
            count1++;

            for ( var i in answers )
            {
                if ( answer1.toString() == answers[i] )
                {
                    countCorrect++;
                    src1 = '../img/o_o.png';
                    $('#p12_prob_1 .p12_2_ok img').attr('src','../img/ok2.png');
                    break;
                }
                else
                {
                    src1 = '../img/x_o.png';

                    if ( count1 > 1 )
                        $('#p12_prob_1 .p12_2_ok img').attr('src','../img/no.png');
                }
            }

            if ( src1 == '../img/x_o.png' && count1 == 1 )
            {
			    wrapWindowByMask();
                setTimeout("$('#mask').fadeOut(1000);", 1500);
                return;
            }

            flag1 = false;

            $('#p12_prob_1 .p12_2_ai').css('display','block');
            $('#p12_prob_1 .p12_2_a1').css('display','inline-block');
            $('#p12_prob_1 .p12_2_a2').css('display','inline-block');

            $('#p12_prob_1 .p12_2_next a').text("다음문제");
            $('#p12_prob_1 .p12_2_next').attr('onclick','nextProblem(1,2);');
        }

        function nextBtn2() {
            if ( flag2 == false )
                return;

            if (answer2 == '')
            {
                alert("답을 선택하세요.");
                return;
            }

            var answers = '][12answernum2]['.split('/');
            count2++;

            for ( var i in answers )
            {
                if ( answer2.toString() == answers[i] )
                {
                    countCorrect++;
                    src2 = '../img/o_o.png';
                    $('#p12_prob_2 .p12_2_ok img').attr('src','../img/ok2.png');
                    break;
                }
                else
                {
                    src2 = '../img/x_o.png';
                    if ( count2 > 1 )
                        $('#p12_prob_2 .p12_2_ok img').attr('src','../img/no.png');
                }
            }

            if ( src2 == '../img/x_o.png' && count2 == 1 )
            {
			    wrapWindowByMask();
                setTimeout("$('#mask').fadeOut(1000);", 1500);
                return;
            }

            flag2 = false;

            $('#p12_prob_2 .p12_2_ai').css('display','block');
            $('#p12_prob_2 .p12_2_a1').css('display','inline-block');
            $('#p12_prob_2 .p12_2_a2').css('display','inline-block');

            $('#p12_prob_2 .p12_2_next a').text("다음문제");
            $('#p12_prob_2 .p12_2_next').attr('onclick','nextProblem(2,3);');
        }

        function nextBtn3() {
            if ( flag3 == false )
                return;

            if (answer3 == '')
            {
                alert("답을 선택하세요.");
                return;
            }

            var answers = '][12answernum3]['.split('/');
            count3++;

            for ( var i in answers )
            {
                if ( answer3.toString() == answers[i] )
                {
                    countCorrect++;
                    src3 = '../img/o_o.png';
                    $('#p12_prob_3 .p12_2_ok img').attr('src','../img/ok2.png');
                    break;
                }
                else
                {
                    src3 = '../img/x_o.png';
                    if ( count3 > 1 )
                        $('#p12_prob_3 .p12_2_ok img').attr('src','../img/no.png');
                }
            }

            if ( src3 == '../img/x_o.png' && count3 == 1 )
            {
			    wrapWindowByMask();
                setTimeout("$('#mask').fadeOut(1000);", 1500);
                return;
            }

            flag3 = false;

            $('#p12_prob_3 .p12_2_ai').css('display','block');
            $('#p12_prob_3 .p12_2_a1').css('display','inline-block');
            $('#p12_prob_3 .p12_2_a2').css('display','inline-block');

            $('#p12_prob_3 .p12_2_next a').text("결과보기");
            $('#p12_prob_3 .p12_2_next').attr('onclick','nextProblem(3,4);');
        }

        function changeText(idx, val)
        {
            if ( idx == 1 )
            {
                answer1 = val.toString();
            }
            else if ( idx == 2 )
            {
                answer2 = val.toString();
            }
            else
            {
                answer3 = val.toString();
            }
        }

        function changeNum(idx, val)
        {
            if ( idx == 1 )
            {
                $('#p12_prob_1 .opt-1').css('color',"");
                $('#p12_prob_1 .opt-2').css('color',"");
                $('#p12_prob_1 .opt-3').css('color',"");
                $('#p12_prob_1 .opt-4').css('color',"");
                $('#p12_prob_1 .opt-'+val.toString()).css('color',"#3c8be6");

                answer1 = val.toString();
            }
            else if ( idx == 2 )
            {
                $('#p12_prob_2 .opt-1').css('color',"");
                $('#p12_prob_2 .opt-2').css('color',"");
                $('#p12_prob_2 .opt-3').css('color',"");
                $('#p12_prob_2 .opt-4').css('color',"");
                $('#p12_prob_2 .opt-'+val.toString()).css('color',"#3c8be6");
                answer2 = val.toString();
            }
            else
            {
                $('#p12_prob_3 .opt-1').css('color',"");
                $('#p12_prob_3 .opt-2').css('color',"");
                $('#p12_prob_3 .opt-3').css('color',"");
                $('#p12_prob_3 .opt-4').css('color',"");
                $('#p12_prob_3 .opt-'+val.toString()).css('color',"#3c8be6");

                answer3 = val.toString();
            }
        }

        function nextProblem(curr, next)
        {
            if ( '][12example2][' == 'None' )
                $('#example2').css('display','none');

            if ( '][12example3][' == 'None' )
                $('#example3').css('display','none');

            if ( next == 4 )
            {
                $('#p12_prob_3').css('display','none');
                $('.p12_2_t').css('display','none');
                $('#p12_2').css('background','url("../img/1_bg12_4.jpg") no-repeat');

                $('#check1').attr('src', src1);
                $('#check2').attr('src', src2);
                $('#check3').attr('src', src3);
                $('#ok-num').html(countCorrect.toString());

                $('#p12_prob_4').css('display','block');

                $('.f_next').css('display','block');
                changeReadyState();
            }
            else
            {
                $('#p12_prob_' + curr.toString()).css('display','none');
                $('#p12_prob_' + next.toString()).css('display','block');
            }
        }

        function wrapWindowByMask(){
            //화면의 높이와 너비를 구한다.
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();

            //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
            $('#mask').css({'width':maskWidth,'height':maskHeight});

            //애니메이션 효과
            $('#mask').fadeIn(1000);
            $('#mask').fadeTo("slow",0.8);
        }
</script>
    <style>
        #mask {
          position:absolute;
          left:0;
          top:0;
          z-index:9000;
          background-color:#000;
          display:none;
        }
        #mask img {
            position:absolute;
            top:250px;
            left:345px;
        }
    </style>
</head>
<body id="p12_2">
<audio type="audio/mp3" src="../sound/quiz.mp3" autoplay preload="auto"></audio>
<!-- gnb -->
<div class="menu2">
	<ul>
		<li>
			<a href="#" class="menu_btn">=== MENU ===</a>
			<ul>
				<li>
					<dl>
						<dt>시작하기</dt>
						<dd><a href="01.html">- 인트로</a></dd>
						<dd><a href="02.html">- 학습목표&학습내용</a></dd>
						<dd><a href="03.html">- 사전학습</a></dd>
						<dd>&nbsp;</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="04.html">학습하기</a></dt>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
						<dd>&nbsp;</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>정리하기</dt>
						<dd><a href="05.html">- 요약정리</a></dd>
						<dd><a href="06.html">- 학습노트</a></dd>
						<dd><a href="07.html">- 형성평가</a></dd>
						<dd><a href="08.html">- 차시예고</a></dd>
					</dl>
				</li>
			</ul>
		</li>
	</ul>
</div>
<!-- gnb end -->

<!-- modal -->
<div id="mask"><img src="../img/again.png"></div>

<!-- top 차시명 & 강의명 -->
<div class="t_class">
	<div class="t_cass_t">◆ ][coursename][</div>

	<div class="t_th">
		<div class="th">][weeknum][주차 ][lecnum][차시</div>
		<div class="name"><pre style="margin-top:0;">][lecturename][</pre></div>
	</div>
	<div class="t_now"><span>정리하기 | </span>형성평가</div>
</div>


<!-- 내용 -->
<div class="p12_2_t">오늘 학습한 내용을 잘 이해하였는지 문제를 풀어 확인해보세요.</div>
<div id="p12_prob_1" class="p12_2_lay" style="display:block;">
    <div class="p12_2_ok">
		<!-- 정답<img src="../img/ok2.png" alt="정답">-->
		<!-- 오답 <img src="../img/no.png" alt="오답"> -->
        <img/>
	</div>

    <div class="p12_2_lay2">
	<div class="p12_2_qi">Q1</div>
	<!-- 문제 -->
        <div class="p12_2_q"><pre>][12problem1][</pre></div>

	<!-- 보기 1 -->
	<div id="example1" class="p12_2_v1">
            <pre>][12example1][</pre>
	</div>

    ][12options1][

	<div class="p12_2_next" onclick="nextBtn1();" style="cursor:pointer;"><a>정답확인</a></div>




	<!-- 정답 해설 -->
	<div class="p12_2_ai" style="display:none;">정답&해설</div>
	<div class="p12_2_a][12flag1][" style="display:none;">
		<ul>
                        <li>][12answernum1_1][</li>
                        <li>][12answer1][</li>
		</ul>
	</div>
        </div>

</div>

<div id="p12_prob_2" style="display:none;" class="p12_2_lay">
    <div class="p12_2_ok">
		<!-- 정답<img src="../img/ok2.png" alt="정답">-->
		<!-- 오답 <img src="../img/no.png" alt="오답"> -->
        <img/>
	</div>
    <div class="p12_2_lay2">
	<div class="p12_2_qi">Q2</div>
	<!-- 문제 -->
        <div class="p12_2_q"><pre>][12problem2][</pre></div>

	<!-- 보기 1 -->
	<div id="example2" class="p12_2_v1">
            <pre>][12example2][</pre>
	</div>

    ][12options2][

	<div class="p12_2_next"  onclick="nextBtn2();" style="cursor:pointer;"><a>정답확인</a></div>




	<!-- 정답 해설 -->
	<div class="p12_2_ai" style="display:none;">정답&해설</div>
	<div class="p12_2_a][12flag2][" style="display:none;">
		<ul>
                        <li>][12answernum2_1][</li>
                        <li><pre>][12answer2][</pre></li>
		</ul>
	</div>
    </div>
</div>

<div id="p12_prob_3" style="display:none;" class="p12_2_lay">
    <div class="p12_2_ok">
		<!-- 정답<img src="../img/ok2.png" alt="정답">-->
		<!-- 오답 <img src="../img/no.png" alt="오답"> -->
        <img/>
	</div>
    <div class="p12_2_lay2">
	<div class="p12_2_qi">Q3</div>
	<!-- 문제 -->
        <div class="p12_2_q"><pre>][12problem3][</pre></div>

	<!-- 보기 1 -->
	<div id="example3" class="p12_2_v1">
            <pre>][12example3][</pre>
	</div>

	<!-- 보기 2 -->
    ][12options3][

	<div class="p12_2_next" onclick="nextBtn3();" style="cursor:pointer;"><a>정답확인</a></div>

	<!-- 정답 해설 -->
	<div class="p12_2_ai" style="display:none;">정답&해설</div>
	<div class="p12_2_a][12flag3][" style="display:none;">
		<ul>
                        <li>][12answernum3_1][</li>
                        <li><pre>][12answer3][</pre></li>
		</ul>
	</div>
    </div>
</div>

    <div id="p12_prob_4" style="display:none;">
        <div class="p12_4_t">총 <span>3</span>문제 중 <span id="ok-num"></span>문제 맞히셨습니다.</div>
        <div class="p12_4_alay">
            <div class="p12_4_a">
                <img id="check1" src="../img/o_o.png">
                <span>Q1</span>
            </div>

            <div class="p12_4_a">
                <img id="check2" src="../img/x_o.png">
                <span>Q2</span>
            </div>

            <div class="p12_4_a">
                <img id="check3" src="../img/o_o.png">
                <span>Q3</span>
            </div>
        </div>
        <div class="p12_4_btn" onclick="location.href='07.html';" style="cursor: pointer;"><a><img src="../img/btn_replay.png"></a></div>
    </div>

<!-- 내용 end -->





<!-- footer -->
<div class="footer">
	<!-- logo -->
	<div class="f_logo"><img src="../img/logo.png" alt=""></div>

	<!-- 검색-->
	<div class="f_search"><input type="text" name="search" id="search" class="f_form" placeholder="검색"/><span class="f_s_btn"><a href="#"><img src="../img/search.gif"></a></span></div>

<!-- 보조도구 아이콘 -->
	<ul class="f_icon">
		<li class="f_icon1"><a href="../inc/running.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>러닝맵</span></a></li>
		<li class="f_icon2"><a href="../down/][lecturenumber][_note.zip" download><span>강의자료</span></a></li>
		<li class="f_icon3"><a href="../inc/teacher.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>교수소개</span></a></li>
		<li class="f_icon4"><a href="../inc/class.html" target="_blank" onclick="MM_openBrWindow('','','scrollbars=no,width=1000,height=650,top=0,left=0')"><span>과목소개</span></a></li>
	</ul>

	<!-- 페이지 이동 -->
	<ul class="f_btn">
		<li><a onclick="goPrevPage(][currpage][,][totalpage][);" style="cursor:pointer;"><img src="../img/arrow_left.png"></a></li>
		<li><span>][currpage][</span> / ][totalpage][</li>
		<li><a onclick="goNextPage(][currpage][,][totalpage][);" style="cursor:pointer;"><img src="../img/arrow_right.png"></a></li>
	</ul>

	<!-- 다음 페이지 이동 버튼 -->
	<div class="f_next"><a><img src="../img/btn_next.png"></a></div>
</div>


</body>
</html>