{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>엑셀 파싱 컨텐츠 제작 자동화 시스템</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'base/basic.css' %}" />
    <link rel="stylesheet" href="{% static 'base/dropzone.css' %}" />
    <script type="text/javascript" src="{% static 'base/dropzone.js' %}"></script>

    <script>
        var instituteNum, courseNum, lectureNum;

        $(document).ready(function() {
            instituteNum = {{ institute.id }};
            courseNum = {{ course.id }};
            lectureNum = {{ lecture }};
            $("#lecture_title span").html(lectureNum.toString() + "차시");
            $("#my_dropzone").attr("action", "/upload/"+instituteNum+"/"+courseNum+"/"+lectureNum+"/");

            {% if msg %}
                alert("{{ msg }}");
            {% endif %}
        });

        function goPreview()
        {
            window.open("/media/{{ course.folderName }}/result/"+lectureNum+"/01.html", "_blank");
        }

        function changeInstitutes(id)
        {
            instituteNum = id;
            lectureNum = 1;

            $.ajax({
                url : '/changeInstitute/',
                type : 'GET',
                data : { instituteId : instituteNum,
                         courseId : courseNum },
                success : function(json) {
                    $('#lecture_title').html('');
                    $('#lecture_title').html(json.newInstituteName + "  -  " + json.newCourseName + "    <span></span>");
                    $("#lecture_title span").html(lectureNum + "차시");

                    courseNum = json.newCourseId;

                    var data = JSON.parse(json.courses);
                    var array = Object.keys(data).map(function(k) {
                        return data[k];
                    });

                    $("#course_dropdown ul").html('');
                    for ( var i = 0; i < array.length; i++)
                    {
                        var c = array[i];
                        $("#course_dropdown ul").append('<li value="' + c.id + '" onclick="changeCourses(this.value);" style="cursor:Pointer;">'
                                + (i + 1) + ' - ' + c.title + '</li>');
                    }

                    $("#number_dropdown ul").html('');
                    for ( var i = 0; i < json.numbers; i++)
                    {
                        $("#number_dropdown ul").append('<li value="' + (i + 1) + '" onclick="changeLectureNumbers(this.value);" style="cursor:Pointer;">'
                                + (i + 1) + ' 차시' + '</li>');
                    }

                    $("#my_dropzone").attr("action", "/upload/"+instituteNum+"/"+courseNum+"/"+lectureNum+"/");
                },
                error : function(json) {
                    alert("error");
                }
            });
        }

        function changeCourses(id)
        {
            courseNum = id;
            lectureNum = 1;

            $.ajax({
                url : '/changeCourse/',
                type : 'GET',
                data : { instituteId : instituteNum,
                         courseId : courseNum },
                success : function(json) {
                    $('#lecture_title').html('');
                    $('#lecture_title').html(json.newInstituteName + "  -  " + json.newCourseName + "    <span></span>");
                    $("#lecture_title span").html(lectureNum + "차시");

                    $("#number_dropdown ul").html('');
                    for ( var i = 0; i < json.numbers; i++)
                    {
                        $("#number_dropdown ul").append('<li value="' + (i + 1) + '" onclick="changeLectureNumbers(this.value);" style="cursor:Pointer;">'
                                + (i + 1) + ' 차시' + '</li>');
                    }

                    $("#my_dropzone").attr("action", "/upload/"+instituteNum+"/"+courseNum+"/"+lectureNum+"/");
                },
                error : function(json) {
                    alert("error");
                }
            });
        }

        function changeLectureNumbers(id)
        {
            lectureNum = id;
            $("#lecture_title span").html('');
            $("#lecture_title span").html(lectureNum + "차시");

            $("#my_dropzone").attr("action", "/upload/"+instituteNum+"/"+courseNum+"/"+lectureNum+"/");
        }

    </script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">엑셀 파싱 컨텐츠 제작 자동화 시스템</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" area-expand="false">기관<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                            {% for institute in institutes %}
                                <li value="{{ institute.id }}" onclick="changeInstitutes(this.value);" style="cursor:Pointer;">{{ forloop.counter }} - {{ institute.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li id="course_dropdown" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" area-expand="false">과정<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                            {% for course in courses %}
                                <li value="{{ course.id }}" onclick="changeCourses(this.value);" style="cursor:Pointer;">{{ forloop.counter }} - {{ course.title }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li id="number_dropdown" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" area-expand="false">차시<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="min-width: 200px;">
                            {% for n in numbers %}
                                <li value="{{ forloop.counter }}" onclick="changeLectureNumbers(this.value);" style="cursor:Pointer;">{{ forloop.counter }} 차시</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="contents_container" class="container-fluid">
        <h3 id="lecture_title">{{ institute.name }}  -  {{ course.title }}    <span></span></h3>
        <div id="form_wrapper">
            <!--<fieldset>
                <legned>File Upload</legned>
                <form id="upload_form" action="/upload/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="fileselect">Files to upload:</label>
                        <input class="from-control-static" type="file" id="fileselect" name="myfile">
                        <div id="filedrag">drop files here</div>
                    </div>
                    <div class="submitbutton">
                        <button type="submit" class="btn btn-default" onclick="goPreview();">미리보기</button>
                        <button type="submit" class="btn btn-default">업로드</button>
                    </div>
                </form>
            </fieldset>-->
            <form id="my_dropzone" action="/upload/" method="post" class="dropzone" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="submitbutton">
                    <button type="submit" class="btn btn-default" onclick="goPreview();">미리보기</button>
                    <button id="submit" type="submit" class="btn btn-default">업로드</button>
                </div>
            </form>

            <script>
                Dropzone.options.myDropzone = {
                    maxFiles : 1,

                    init : function() {
                        myDropzone = this;

                        myDropzone.on("maxfilesexceeded", function(file) {
                            myDropzone.removeAllFiles();
                            myDropzone.addFile(file);
                        });
                    }
                };
            </script>
        </div>
    </div>
</body>
</html>