<!DOCTYPE>
<html>
<head>
<title>][instname][</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewpor​t" content="width-device-width,initial-scale=1, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<body>
<!-- 내용 -->
<div class="p4_run">과목소개</div>
<div class="p3_t">* 교수님의 영상을 통하여 본 과목에 대한 내용을 확인해보세요.</div>
<div class="p3_avi"><iframe width="800" height="450" src="][3video][" frameborder="0" allowfullscreen></iframe></div>

<!-- 내용 end -->



</body>
</html>